
#title {
  background-color: #ffc648;
  color: #fff;
  text-align: left;
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  font-weight: normal;
}

p {
  color: grey;
}

/* Heading */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.icon {
  color: #ef1872;
  margin-bottom: 10px;
}

.icon:hover {
  color: #ff4c68;
}

/* navigationbar */
.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.collapse {
  margin-left: 400px;
  font-family: "Ubuntu";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 50%;
  transform: rotate(+25deg);
  position: absolute;
  left: 30%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-title{
  font-size: 1.5rem;
}
.feature-box {
  padding: 5%;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 2%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* pricing */
#pricing {
  padding: 100px;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-colum {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title {
      text-align: center;

  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%
  }
}

/* footer */
#cta {
  background-color: #ffc468;
  color: white;
  padding: 7% 15%;
}

#footer {
  background-color: white;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}
